[2019-07-04 00:19] Pauldg7 opened #1 "Can’t boot on Catalina Beta"
I currently have the exact same speced laptop as you. I’m still trying to debug, but even with the beta boot options the laptop seems to make it to the Apple logo but then the loading bar never goes past zero. I have a previous set of Kexts that work on the Catalina beta, and am dual booting Mojave. I’m currently investigating if it no longer boots because of the Kexts (Some which I updated) or so

[2019-07-04 11:00] k-sym commented on #1
When you get the Clover screen, press the right cursor key and navigate to the options menu. On the boot parameters, add a " -v" (space, minus, v) to the line. Hit enter, and go to the bottom of the list and return. Then select the OSX installer. This will put you in verbose mode. You should be able to capture the failure point on the screen. This info will help in diagnosing the issue.

[2019-07-04 15:03] PaulDGillis commented on #1
The problem is it makes it past verbose mode, without a an error, but it never finishes booting, it is quite odd. I assume it is something weird going on with Whatever green. Seems Whatever green stops working with UHD 630 on 10.15, but removing WhateverGreen Kext allows me to boot for now.

[2019-07-07 11:51] stonevil commented on #1
Sorry, have no time to play around with Catalina.

WhateverGreen already updated for Catalina but you need to download sources and build Kext with Xcode. On machine with preinstalled Catalina and latest beta version Xcode

[2019-07-07 23:12] stonevil opened #2 "Sometimes screen do not wakeup after first lid open"
Sometimes screen do not wake up after first lid open from sleep. You need to close and open lid again. This issue introduced after latest BIOS update.

[2019-07-08 18:42] PaulDGillis commented on #1
@stonevil that is plenty alright, I opened the issue as mostly a warning for those that wanted to update. And a place to show my progress on debugging the issue for others.

I’ve been using the latest Catalina ready released Kexts for VirtualSMC, Lilu and WhateverGreen. After compiling my own from Xcode last night, I still can’t get it past the Glitched Apple loading screen after verbose finishes.

[2019-07-09 04:58] PaulDGillis commented on #1
I updated to the very latest beta clover version and that seemed to fix it.

[2019-07-09 04:58] #1 closed

[2019-07-11 18:41] Pauldg7 opened #3 "Recommendations/Questions"
@stonevil First off Thank you for the amazing guide, and the continuing work you've been putting into it.

**Recommendation:**
1) Adding installation for Linux alongside MacOS, and Windows. I've had a lot of issues getting grub to work with Clover. After Googling, I never found help how to get Grub to be installed and boot able from Clover nor how to get Clover to boot Ubuntu.

2) Using VoodooI2C

[2019-07-12 09:12] stonevil commented on #3
@Pauldg7

1. ML tasks requires a lot space. Few Tb. Because of the running Linux and ML tasks from external media. Maybe this weekend I will take a look for mixing clover and grub on same drive.

2. Already done just have not time to update documentation. Maybe in next few days.

Depends. My configuration works with no issues with Synapse 3. Basically Synapse doing very small tweaks. So no harm.
N

[2019-07-13 18:19] PaulDGillis commented on #3
@stonevil
I really appreciate it, I'm sure if I understood more about clover/grub it wouldn't be such a pain to get them to work together.

If I get time I'll help write/help read over the Voodoo Interrupt docs as I've already set this up as well. Out of curiosity since we have the same model laptop what pin are you using for the interrupt?

I was generally curious how it would work, since I only

[2019-07-14 03:56] stonevil commented on #3
Please fork repo, update documentation for VoodooI2C and create PR (pull request). Thanks.

[2019-07-15 02:33] bhagirathbhard commented on #3
Hey @Pauldg7 could you guide me about this interrupt thing ?

[2019-07-15 16:21] samdogg7 commented on #3
@stonevil
Thank you for the amazing guide!
I own a 2018 Razer Blade Base Model with the following specs:

Graphics Memory | 6 GB
Clockspeed | 1.8 Ghz
Graphic Processor | NVIDIA GeForce GTX 1060
Processor | Intel Core i7-8750H (8th Gen)

Will my device be compatible with your guide? Or should I follow this guide that you referenced?

https://www.tonymacx86.com/threads/guide-razer-blade-15-2018-deta

[2019-07-15 22:50] PaulDGillis commented on #3
@bhagirathbhard I have an exam I'm preparing for Tuesday (Tomorrow) but after that is finished up I'll fork the repo and add documentation to show how to do it. Polling is fine for using the track pad, having the interrupt is just kinda nice.

@samdogg7 That guide you linked is the guide I'd follow if you're still new to creating a Hackintosh. The Ubuntu part is optional, the guide refers to chang

[2019-07-15 22:50] #3 closed

[2019-07-15 23:06] samdogg7 commented on #3
Thanks @Pauldg7 You made my life much easier :D

[2019-07-16 02:04] samdogg7 commented on #3
@Pauldg7 I am struggling to understand this post about installing on pm981 ssd: https://www.tonymacx86.com/threads/guide-razer-blade-15-2018-detailed-install-guide-high-sierra-10-13-6-17g2208-17g5019.264017/page-65#post-1969367

Do you understand what he is suggesting to install on the pm981?

[2019-07-19 10:54] k-sym commented on #2
Confirmed, however in my case it's all the time (not sometimes). Like you say, quick fix is just to shut the lid, pause a second, then re-open.

[2019-07-23 07:16] stonevil commented on #2
Yesterday updated BIOS up to version 1.05. Issue with open/wake lid not solved magically.
Need to find time to research issue.

[2019-07-23 07:16] stonevil commented on #2
Strange. Usually happens ones per 6-7 lid open.

[2019-07-23 07:18] stonevil opened #4 "Add BIOS pre and post update procedure"
Add BIOS pre and post update procedure

[2019-07-23 07:21] stonevil commented on #3
Had chance to update documentation?

[2019-07-23 07:21] stonevil opened #5 "Add Linux tripple boot option"
Add Linux tripple boot option

[2019-07-23 07:22] stonevil opened #6 "Add Ethernet option for Base model"
Add Ethernet option for Base model

[2019-07-23 07:24] stonevil opened #7 "Update up to macOS 10.14.6"
Update up to macOS 10.14.6

[2019-07-23 08:38] stonevil commented on #7
Done. Successful. Looks like no issues.

![Screenshot 2019-07-23 at 01 20 46](https://user-images.githubusercontent.com/129196/61696644-9134eb80-acea-11e9-9dfe-5d9fea9c1a94.png)

[2019-07-23 08:40] stonevil commented on #7
Close

[2019-07-23 08:40] stonevil commented on #7
Close

[2019-07-23 08:40] #7 closed

[2019-07-24 16:21] PaulDGillis commented on #3
@stonevil I've got a bit of time today, I'm going to go ahead and get a fork going and started. What pin did you end up using as well? I'm curious to know if we'll all end up using the same pin (With 3 models of the early 2019 could be different) to put in the DSDT patch or if it'll have to patched manually by everyone.

[2019-08-01 03:53] stonevil opened #9 "When run on battery only, after a few minutes, the Blade gets hot and the fans spin up and the battery life drops."
When run on battery only, after a few minutes, the Blade gets hot and the fans spin up and the battery life drops.

https://www.tonymacx86.com/threads/guide-razer-blade-15-2018-detailed-install-guide-high-sierra-10-13-6-17g2208-17g5019.264017/page-75#post-1988599

[2019-08-01 03:54] stonevil opened #10 "Issues with power for audio on battery"
Issues with power for audio on battery

https://www.tonymacx86.com/threads/guide-razer-blade-15-2018-detailed-install-guide-high-sierra-10-13-6-17g2208-17g5019.264017/post-1988609

[2019-08-03 09:24] k-sym commented on #2
Not sure if it helps, but some observations of my RBA 2109 (early) with RTX 2080. We know that shutting the lid and re-opening solves this issue, however, the trigger for the screen coming on is not the second open, but the close after system wake. Not sure if this helps with the diagnosis of the issue, but thought I'd share.

[2019-08-03 09:26] k-sym commented on #2
Also, if in sleep state and I plug in an external monitor, power, etc and open lid, the system wakes normally. The external monitor is HDMI via the USB-C socket. Again, not sure if this helps in the diagnosis, but thought I'd share my experiences.

[2019-08-05 08:15] stonevil opened #11 "WhateverGreen black screen issue after commit 56f91c3b67139b7f80663ffd4c58f89ab6a28e8d"
WhateverGreen black screen issue after commit 56f91c3b67139b7f80663ffd4c58f89ab6a28e8d

[2019-08-05 08:15] stonevil commented on #11
Fixed in commit e575be8dc817c6305407c79b9927c69db4f3b802

https://github.com/acidanthera/WhateverGreen/commit/e575be8dc817c6305407c79b9927c69db4f3b802

[2019-08-05 08:15] #11 closed

[2019-08-10 08:25] hrytskivr opened #12 "RBA 2018/2019 specifics"
Hi, great guide, I know this is a guide for 2019 model, but it still could benefit if you mark which steps could be done for both 2018/2019 RBAs, and which are model-specific.

[2019-08-11 13:54] stonevil opened #13 "RBA detects display as projector. Connection Type coming as DisplayPort"
RBA detects display as projector. Connection Type coming as DisplayPort

https://www.tonymacx86.com/threads/guide-razer-blade-15-2018-detailed-install-guide-high-sierra-10-13-6-17g2208-17g5019.264017/page-77#post-1992187

[2019-08-11 13:55] stonevil commented on #13
![Screenshot 2019-08-11 at 06 56 36](https://user-images.githubusercontent.com/129196/62834738-682abb00-bc05-11e9-9ba6-63fe1667e9b2.png)

Confirmed. Found fix.

Will update documentation in few days.

[2019-08-12 07:45] k-sym commented on #10
@stonevil - can you confirm symptoms?
[edit] - ignore, just seen your post on TM. Looking forward to details of fix :D

[2019-08-12 21:03] bhagirathbhard commented on #13
following

[2019-08-12 21:05] bhagirathbhard commented on #12
@stonevil does indicate in the beginning that besides DSDT patching, the guide can be followed for most of them.

[2019-08-14 12:03] hrytskivr commented on #12
Hi @bhagirathbhard, thanks for your reply, I've seen that too, but I still think some patching may apply for all models, for example this weird audio issues we're having on all models etc.

[2019-08-14 14:59] bhagirathbhard commented on #12
Hmm, true. Even I own a 2018 Advanced Razer Blade and could have used a bit more help. Maybe @stonevil could add a table of changes between patching for 2018/19 models for Audio, Trackpad and display stuff

[2019-08-17 10:36] hrytskivr commented on #12
Also with these new additions to `config.plist` about C states and whatnot, would be great if there are at least a comment on why we need that.

[2019-08-18 15:57] ishraqiyun77 opened #14 "Pre-modded BIOS does not unlock Overclocking Performance menu"
I flashed the BIOS using the pre-modded version provided, manually setting the stock config, and comparing both to the step-by-step instructions. Everything is correct, but when I go into BIOS Advanced > Overclocking Performance Menu is nowhere to be found. Both the one I did manually, and the pre-modded one provided, all match the step-by-step instructions. I've tried flashing a few times, but it

[2019-08-18 16:03] ghost commented on #14
Actually, just figured it out right after posting this. In AMIBCP64, you have to go in to Setup > Advanced and then change the OverClocking Performance Menu to USER.

[2019-08-18 16:03] #14 closed

[2019-08-18 20:02] #12 closed

[2019-08-18 20:54] stonevil commented on #12
Ok. I will add this

[2019-08-20 02:09] bhagirathbhard commented on #13
@stonevil Hey man any updates on this? could you share in brief what the solution to this was?

[2019-08-21 03:19] ishraqiyun77 opened #15 "Question: does this build support Thunderbolt hot swapping?"
Question is the title. I know this is usually an issue with laptops that Thunderbolt 3 hot swap doesn't work in a Hackintosh. Basically have to turn the laptop off, plug in the TB3, power on the TB3 device, and then turn the laptop on for it to be recognized in macOS. If you try to turn it on and connect it while macOS is loaded, nothing happens.

Just curious.

Regards

[2019-08-21 21:20] hrytskivr opened #16 "Dim on battery doesn't work"
After applying one of the patches in this guide, namely the `hot patch DSDT for brightness settings between reboots`, the functionality of macOS feature `slightly dim screen on battery power` seems to be broken.

[2019-08-23 22:55] bhagirathbhard commented on #16
what year razer do you have?

[2019-08-24 13:23] hrytskivr commented on #16
rba 2018 144hz 1060

[2019-08-24 13:26] bhagirathbhard commented on #16
I don’t think it ever worked for me to be honest

[2019-08-24 16:01] TheManchineel commented on #15
Probably not. I haven't found a card yet that has Thunderbolt hotswap working properly under macOS.

[2019-08-24 18:56] hrytskivr commented on #16
It worked for me even without any patches, seriously, after I applied this patch that saves the brightness level over reboots, the dim on battery doesn't work :(

[2019-08-27 14:54] bhagirathbhard commented on #13
@stonevil was hoping if you could update or share?

[2019-08-29 08:00] stonevil commented on #16
Hmm...
Never cared about this. Actually always disabled on real Mac.
I will take a look when will get new Razer.

[2019-08-29 08:01] stonevil opened #17 "Windows installation"
Fix Windows version ISO images.
Update procedure to use Windows-ISO-Downloader to download right ISO image version.

[2019-08-29 08:04] stonevil commented on #10
Sorry, temporary without Razer Blade. I will back to fix this issue when will receive my new Razer.

P.S. Calm down. My Razer is alive. No issues.

[2019-09-01 20:34] bhagirathbhard commented on #9
I think this issue can be closed.

[2019-09-02 07:59] k-sym commented on #9
I still have these symptoms. My current cure is to not change the power state, e.g. reboot instead of sleep if I need to unplug. Pretty sure this is a power state issue with Audio as @stonevil has already hinted, but waiting for confirmation. If so, this can be merged with: https://github.com/stonevil/Razer_Blade_Advanced_early_2019_Hackintosh/issues/10 at the very least, but not closed.

[2019-09-02 19:26] bhagirathbhard commented on #9
hmm, have you tried running catalina?

[2019-09-02 20:31] k-sym commented on #9
Not yet. Vagrant isn't on speaking terms with it yet, so I need to hold off until it does. Sorely tempted though.

[2019-09-04 20:46] jt1900jt commented on #2
So two data points to add. I have the exact same model as stonevil and am having the exact same black screen on lid open issue. Mine only does it after the laptop has been closed for a while. Possibly an issue with deep hardware sleep?

I also have a Razer Blade Stealth 13 that I hackintoshed which has this exact same issue. Interestingly enough I can still login, and activate Siri using command s

[2019-09-05 07:32] k-sym commented on #2
Hi @jt1900jt

On the Stealth, does the trick of shutting the lid and then re-opening it work?

[2019-09-05 08:03] jt1900jt commented on #2
@ksymmonds It actually does'nt. The backlight comes on but nothing else. Which makes me think the issues are different

[2019-09-09 16:46] devcatdad opened #18 "macOS will not load using the repo EFI"
Probably going to have to patch my own DSDT/SSDT since my system is a little different. Posting just to confirm.

My system:
Early-2019 Razer Blade Advanced 15 (i7-8750H with RTX 2080)
Samsung EVO 970 2TB SSD
Wifi: BCM94352Z (DW1560)
64GB RAM

Those may be the only deviations and what is making the repo's EFI incompatible with mine.

At any, this is where I am at that works meaning I can boot from

[2019-09-09 16:47] devcatdad commented on #15
Yeah, kind of what I figured.

[2019-09-09 16:50] ghost commented on #15
Yeah, that is kind of what I figured.

[2019-09-09 16:50] #15 closed

[2019-09-09 17:03] k-sym commented on #18
For the record, I have the exact same system. Early 2019 with the RTX2080 (only 32GB and the Sabrent M.2). I too cannot just 'copy' the EFI and ended up dumping and modifying the SSDT's. It's well worth the time and has certainly paid off. It's now my 'production' machine, my old MBP is now the test machine for Catalina. Apart from the weird power issue after wake, it's a superb machine.

[2019-09-09 17:24] ghost commented on #18
Ok, that is what. Thanks for confirming!

[2019-09-09 17:24] #18 closed

[2019-09-10 10:25] jt1900jt opened #19 "Battery draining very fast after about 85% (Only 2 hours battery life total)"
So I have the exact same model as stonevil and my battery is draining ridiculous fast after about 70 percent. Here are some measurements I took:

time 0: 100%
50 minutes: 85%
56 minutes: 84%
1 hour and 7 minutes: 72%
1 hour and 13 minutes: 63%
1 hour and 18 minutes: 57%
1 hour and 35 minutes: 26%
1 hour and 45 minutes: 23%
1 hour and 47 minutes 20%

Total I'm barely getting 2 hours of battery life

[2019-09-10 11:29] k-sym commented on #19
Just to confirm it's not the same as another issue, there is no change in power state? Is this from cold, booted and running without the charger being plugged in, or is it when you remove from power and keep working?

My power issue is always from a power state change. If I reboot, then it's all normal until the device sleeps.

[2019-09-11 03:09] devcatdad opened #20 "Can't get dim level to persist after reboot"
Followed the instructions to replace this:

    Device (ALSD)
    {
        Name (_HID, "ACPI0008")  // _HID: Hardware ID
        Method (_STA, 0, NotSerialized)  // _STA: Status
        {
            If (LEqual (ALSE, 0x02))
            {
                Return (0x0B)
            }

            Return (Zero)
        }

        Method (_ALI, 0, NotSerialized)  // _ALI: Ambient Light Illuminance

[2019-09-11 03:46] devcatdad opened #21 "After patching DSDT for tracking pad, boot takes almost +3 minutes instead of 30 seconds"
As the title says, anyone else experiencing this? Usually takes about 30 seconds to boot, if that. After I've patched the DSDT for trackpad it takes over three minutes to boot. Same thing after patching for pinning. This is usually what is holding it up:

![20190910_203125](https://user-images.githubusercontent.com/51866518/64666672-f2845b80-d40b-11e9-9da7-cf66fa1625b8.jpg)

Looks like it is relat

[2019-09-11 07:06] k-sym commented on #20
Ditto. Thinking its an NVRAM issue, but tested that to death too, to no avail... NVRAM persists and checking it (along with other key value pairs) is definitely setting the brightness setting, however afer reboot, the setting is back to max (backlight-level	{%ff)

[2019-09-11 14:26] ghost commented on #20
Ok, thanks for confirming. It isn't a huge issue, but would be nice if it persisted.

[2019-09-12 21:38] k-sym commented on #21
Did you verify that your trackpad was indeed 'TPD0' using ioregexplorer before patching?

[2019-09-13 01:17] bhagirathbhard commented on #13
@stonevil could you give a hint towards what the solution is if possible? this has been bugging me for quite a while now. thanks man

[2019-09-13 05:04] bhagirathbhard commented on #19
I can concur having similar battery drain if not worse. I am assuming it has something to do with the Audio Power leak @stonevil was talking about.

[2019-09-13 16:54] ghost commented on #21
Yeah, I screwed up. I started my `config.plist` over from scratch instead of using the one provided in the repo. Was having backlight and just all kinds of visual artifacts. TonyMac helped identify that there was some issues with the `config.plist` and SSDTs in the repo. So downloaded the UHD630 `config.plist` from RehabMan's repo and started from that. I forgot to enable some of the patches in th

[2019-09-13 16:54] #21 closed

[2019-10-03 21:35] soerenkampschroer commented on #19
Same thing here @ksymmonds

Mine gets really warm and the fans kick in when it wakes from sleep. CPU usage is super low, it clocks at 0.8ghz and CPU temps are at about 50C so I doubt that's it. Definitely a sleep/power management issue of some sort. Maybe the dGPU kicks back in even though it should be disabled?

Anyway, try not to use sleep when on battery for the time being or restart after slee

[2019-10-06 15:09] bhagirathbhard commented on #13
if anyone else found a fix to this I would love to know.

[2019-11-12 15:12] Kingsleyrrrr opened #22 "Trackpad still not working"

[2019-11-12 15:17] Kingsleyrrrr commented on #22
![image](https://user-images.githubusercontent.com/47513252/68683871-81dff380-05a2-11ea-9a42-b65615cd984d.png)

[2019-11-27 03:44] bhagirathbhard commented on #13
@stonevil hey man, do you have any update on this?

[2019-12-22 02:40] mogwai403 commented on #22
Hi there, I was able to get the trackpad working by removing the following:
EFI/CLOVER/ACPI/patched/DSDT.aml
EFI/CLOVER/ACPI/patched/SSDT-12-OptTabl.aml
EFI/CLOVER/ACPI/patched/SSDT-USBX.aml
EFI/CLOVER/KEXT/Other/USBMap.kext

Basically patch the above manually

Good luck!

[2019-12-31 22:08] jonseppanen commented on #6
Any progress for this? Looking to install this on my blade base 144

[2020-01-06 14:01] #22 closed

[2020-01-20 09:02] EugeneOsipenko commented on #9
Does anyone have a fix?
I have problems with battery life after sleep, laptop cannot drop temp below 50C and fans constantly running. After reboot it stays cool and i can have ~4h battery life but after waking from sleep only 1.5-2h

[2020-01-26 01:08] soerenkampschroer commented on #20
Update your kexts, I'm not sure which one it was but it persists for me after updating everything today. You can use Kext Updater to check and download the latest versions.

If you update the BrcmPatchRam kexts and use the DW1560 you'll now have to install these three kexts: BrcmBluetoothInjector.kext, BrcmFirmwareData.kext and BrcmPatchRAM3.kext. Make sure to uninstall all other Brcm* kexts you h

[2020-02-02 06:44] Errrneist opened #23 "EFI for install?"
Hi,

I am trying to follow your guide, and when it comes to creating a USB booting device for macOS the USB boot drive I created using Unibeast is not booting into the install screen. Do you have a special EFI for installing? Thanks a lot. I tried the EFI you included in your repo it doesn't work as well. Just FYI I am using the 9750H+2070MQ+240Hz model.

[2020-02-02 12:56] soerenkampschroer commented on #23
What SSD are you using?
Did you flash and configure your bios?

[2020-02-02 16:34] wu-hongjun commented on #23
Sabrent 2TB, yes I flashed my BIOS, macOS goes all the way to the progress bar in roughly ten minutes but never go into the installation GUI.

[2020-02-06 09:37] DosPuppet opened #24 "Bios unlock won't work"
Hi, i'm using a RB advanced mid2019, and after dumping, modifying et flashing the bios, no options in the bios. Can't access new menus in advanced, chipset, etc...
My bios is 1.04 (sep. 2019), and when I dump my flashed bios, all options a passed to USER, but don't work...
Il the new bios locked another way ? Anyone with the same problem ? (I've seen threads about overclocking menus, but for me, i

[2020-02-06 11:24] stonevil commented on #24
Hi, have no idea what is the difference between RBA early and mid 2019. Have no access anymore for RBA so I cannot verify and compare.

Can you share screenshot of the AFUWINGUI app?

[2020-02-06 11:26] stonevil commented on #23
Strange. Have some idea. I will test this weekend.

[2020-02-06 11:28] stonevil commented on #20
Sorry, have no access to RBA to test any staff. I will try to update remotely RBA to Catalina this weekend and will update documentation regarding new finding.

[2020-02-06 11:31] stonevil commented on #19
Ok. So. I do not have anymore (since August last year) access to RBA.
Last staff I discovered is some architecture issues its RBA logic board. It's doesn't matter if you disable Nvidia GPU in BIOS or in SSDT, etc. GPU still consume power. So, basically there are no way to improve power consumption.

You should have about 3.5-5h on battery in macOS depends on CPU, etc. load.

[2020-02-06 11:32] #16 closed

[2020-02-06 11:35] stonevil commented on #9
Issue with power management for GPU. Basically logic board design issue. I din'd find way to fix this.
I do not have anymore (since August last year) access to RBA.

[2020-02-06 11:36] stonevil commented on #5
I do not have anymore (since August last year) access to RBA.

[2020-02-06 11:36] #5 closed

[2020-02-06 20:16] DosPuppet commented on #24
Thanks, here is the info of AFUWINGUI (modded bios file).

https://ibb.co/h8n1h4Q

[2020-02-06 20:56] wu-hongjun commented on #23
I got it working by first installing Mojave then upgrade to Catalina. There are several things from your repo that doesn't quite work, but it is probably because we have different model (I have 9750H + 2070MQ)

I will post my stuff here https://github.com/Errrneist/Hackintosh-Razer-Blade-Advanced/ later this week.

There are several things:
First, once you got your USB patched, does Bluetooth just

[2020-02-07 13:40] DosPuppet commented on #24
Hi,
I flashed with the mid 2019 1.02 modded bios in the repo, and it didn't work either. My bios is back to version 1.02, but none of the options is unlocked : no overclocking, vt-d or anythng new... That's strange. Some specific due to some models ? Mine is french, maybe regional stuff ? Any hint is welcome....

[2020-02-10 17:16] DosPuppet commented on #24
OK, I unlocked menu access for overclocking (both menu and submenu) and system agent by hex editig and modifying bios file using this guide : http://forum.notebookreview.com/threads/razer-bios-mods-potential-to-unlock-all-hidden-options.830993/

All options are now open, and bios is ready to go.

[2020-02-10 17:16] #24 closed

[2020-02-11 15:50] DocSystem opened #25 "Touchpad doesn't work on base model"
I tried VoodooI2C and VoodooI2CHID, VoodooPS2, AppleSmartTouchPad but none of these kexts worked! Can you help me? I really need to get touchpad working!
Thanks

[2020-02-13 13:44] soerenkampschroer commented on #19
@stonevil I'm fine with the battery life I'm getting on a fresh boot (3.5 - 4.5 hours). The problem is that the dGPU seems turn back on after sleeping and then it's more like 1 - 1.5 hours. I posted on tonymac as well but so far no replies.

[2020-02-17 21:31] #25 closed

[2020-03-14 18:02] DocSystem opened #26 "USB-C to HDMI doesn't work on Razer Blade Base Model with RTX 2060"
I have a Razer Blade Base Model 2019 and I tried to connect a second screen using USB-C but it doesn't work! Is there any patches?
Config:
- CPU: Intel Core i7-9750H
- GPU: Intel UHD Graphics 630 / Nvidia GeForce RTX 2060 (not working on macOS)
Thanks

[2020-03-21 03:48] Ilike2hackstuff opened #27 "RBB Trackpad doesn’t work after updating to Catalina"
Razer Blade Base model works fine but when I update to Catalina the trackpad fails to work. Tried many solutions online, found nothing to work

[2020-04-20 11:52] DocSystem commented on #6
Just use the [RealtekRTL8111](https://github.com/Mieze/RTL8111_driver_for_OS_X/releases) kext.

[2020-05-05 01:03] SharathMahendrasah opened #28 "Unlock Bios"
I tried to unlock bios on my mid 2019 razer blade advanced 15 but am not able to once I swapped my ssd. Using a 2tb Sabrent. Do you have any ideas as to why This drive prevents unlocking of bios?

[2020-05-17 03:06] boyuanx commented on #27
I wrote about this issue here, see if they're the same! The solution for me was to use VoodooI2C version 2.2.

https://github.com/VoodooI2C/VoodooI2C/issues/319

[2020-05-17 03:07] boyuanx commented on #28
I'm having the same issue where certain entries are hidden after swapping to a Sabrent 1TB. I have no idea why but rest assured the settings persist, it's just an UI issue.

[2020-05-17 03:08] boyuanx commented on #26
I suspect USB-C display may be wired to the Nvidia card?

[2020-05-17 03:09] boyuanx commented on #23
iGPU for me works out of the box with OpenCore on Catalina 10.15.4 without any device ID or patches aside from WhateverGreen.

[2020-05-17 03:11] boyuanx commented on #28
BTW an interesting note: Even booting with no SSD attached gave me the entires. With the Sabrent, most of them stay hidden.

[2020-05-17 03:15] wu-hongjun commented on #23
Which model is yours? To be more specific, which CPU are your computer using?

[2020-05-17 03:16] boyuanx commented on #23
Exactly the same as yours, 9750H

[2020-05-17 03:20] wu-hongjun commented on #23
If you are comfortable, can you share your EFI? Thanks!!

[2020-05-17 03:22] boyuanx commented on #23
I'm using OpenCore, so it's probably not very useful since you are following this Clover guide. However, try removing any fake IDs, graphics injections, or framebuffer patches you have and just let WhateverGreen use its default values.

Speaking of which, did you unlock BIOS and set DVMT to 64M?

[2020-05-17 03:40] boyuanx commented on #23
I took a look at your GitHub, and FYI getting stuck at `gIOScreenLockState 3, hs 0, bs 0, now 0, sm 0x0` is due to not disabling Nvidia graphics. Easiest way is by using `-wegnoegpu` with WhateverGreen. No need for SSDT patches.

[2020-05-17 07:01] wu-hongjun commented on #23
I tried that as well, no luck. I think it is something wrong with Clover.
Yes, I did unlocked the BIOS. However, even when I set DVMT to USER it does not show up in the BIOS so I flashed the default value with 64.
I am willing to switch to OpenCore if it works. Did you do any special things with Opencore? Any help is appreciated!

[2020-05-17 08:39] boyuanx commented on #23
I've attached my EFI. I cleared out certain SMBIOS fields because I have my iMessage and everything working but it's very easy to generate. Literally every single thing is working on my Blade and it really is unbelievable.

Try to follow this guide: https://1revenger1.gitbook.io/laptop-guide/ just to get an idea of what you're doing, but you shouldn't need to fix or modify anything to get macOS to

[2020-05-17 11:19] SharathMahendrasah commented on #28
Yeah I kinda figured as much once I was able to get everything installed and working. Weird wonder why that is though. Anyway thanks for the reply I’m going to close this thread since it’s not really a problem.

[2020-05-17 11:19] #28 closed

[2020-05-18 01:45] wu-hongjun commented on #23
Awesome! iGPU does work out of the box for me. Some things, lik USB and Bluetooth is not working, and I’ll work on those when I get time. I did implemented them in Clover so shouldn’t be too much of a deal. I’ll post on Github once I got them all fixed. Thanks again!

[2020-05-18 02:00] boyuanx commented on #23
I made my own USB mapping with Hackintool and for WiFi+BT I swapped to a BCM94360NG which works out of the box as well.

[2020-05-18 02:17] wu-hongjun commented on #23
I just got my USB mapping done. I own a DW1830 and I had to use BRCMPATCHRam3.kext to get it rolling, otherwise wifi works but not Bluetooth.

[2020-05-18 08:58] k-sym commented on #23
From the docs:
To be paired with BrcmFirmwareData.kext
BrcmPatchRAM3 for 10.14+ (must be paired with BrcmBluetoothInjector)
BrcmPatchRAM2 for 10.11-10.14
BrcmPatchRAM for 10.10 or older

So BrcmPatchRAM3 needs to be paired with BrcmBluetoothInjector. :)

[2020-05-18 09:01] wu-hongjun commented on #23
I have all of them ready, just waiting to be integrated cuz they were working well in the Clover version (I tried adding them in config.plist but got an error guess I am just not familiar enough with OpenCore.) It’s too late now and I have work tomorrow :P

[2020-05-19 07:50] apocolipse opened #29 "RBA 2020 model Bios mod issues"
Hey found this thorough guide and was impressed enough to purchase a not-macbook for my next laptop.  I have an early 2020 model so I'm assuming I cant/shouldnt use the bios files you've posted here, however going through the guide to enable features in bios I've hit a bit of a block.  When flashing, even a clean un-modded rom, I get the following error
[code]

Googling around seems inconclusive,

[2020-05-21 10:29] boyuanx commented on #29
It seems to be a new security feature in 2020 models...

Have you seen this thread? The OP resolved it eventually.
https://www.win-raid.com/t4909f16-Resolved-Failed-to-flash-a-backup-without-any-mod-due-to-secure-verify-on-Gigabyte-AMI-BIOS-Serverboard.html

[2020-05-21 10:30] boyuanx commented on #19
It's still an issue with the latest March BIOS, not a dealbreaker but a real bummer.

[2020-05-21 10:31] boyuanx commented on #23
@Errrneist let's close up this issue? :)

[2020-05-21 15:39] wu-hongjun commented on #23
sure🥳

[2020-05-21 15:39] #23 closed

[2020-05-21 15:53] doubleyoustew commented on #19
I fixed this recently. Apply the following patches and add the ssdts from my repo. Make sure to remove any other GPU patching you did before.

**2018 model**
- Add SSDT-DDGPU.aml and SSDT-PTSWAK.aml
- Apply patches _PTS to ZPTS and _WAK to ZWAK

**Early 2019 model**
Do the above and additionally add:
- SSDT-RTEC.aml
- RTEC to XTEC patch

That should keep the dGPU disabled and save a ton of energy.

[2020-05-21 22:21] boyuanx commented on #19
@doubleyoustew Thank you! Those SSDTs work perfectly for disabling dGPU even after wake.

Another question, if you don't mind =) : My trackpad does not work with any version newer than VoodooI2C v2.2 and I've opened up an issue with them: https://github.com/VoodooI2C/VoodooI2C/issues/319

Do you have any insights? I tried your trackpad SSDTs + hot-patch and while the errors mentioned in the issue

[2020-05-21 23:32] apocolipse commented on #29
@boyuanx Good find, I didn't see that one when googling amongst a bunch of other forum threads heh.  I can't seem to find the version of FPT referenced there though.

[2020-05-22 12:42] doubleyoustew commented on #19
@boyuanx My trackpad is working pretty well now honestly with the latest VoodooI2C. I'm still on Mojave however. One more reason not to upgrade to Catalina I guess.

Props to you for making the video and manually typing the logs haha. It's really annoying that you can't check back on the boot log.

You could try looking for ACPI errors with the following command:

`log show --predicate "processID

[2020-05-22 23:47] #19 closed

[2020-05-22 23:48] jt1900jt commented on #19
Issue is resolved by the patch doubleyoustew posted above!

[2020-05-29 23:17] doubleyoustew commented on #2
@stonevil @ksymmonds this is fixed for the early 2019 model by applying the RTEC patch I posted here: https://github.com/stonevil/Razer_Blade_Advanced_early_2019_Hackintosh/issues/19#issuecomment-632171858

The problem is that RTEC can't be executed correctly and thus the laptop doesn't fully wake from sleep. Not sure why closing and opening the lid fixed it, but it could be because RTEC is only e

[2020-05-29 23:19] doubleyoustew commented on #9
See https://github.com/stonevil/Razer_Blade_Advanced_early_2019_Hackintosh/issues/19#issuecomment-632171858

[2020-05-29 23:37] stonevil commented on #2
I will add to readme. Thanks!

[2020-06-01 05:57] ronanarm opened #30 "Audio only working on headphone jack"
Hey, a few days after installing windows partition, my speakers stopped working. Using the same 8750h, 2070 blade advanced as the guide, no modifications, and the headphone jack still works.

Isn't a major issue for me as I do most of my stuff on headphones, but does anyone have any ideas as to what could have changed?

[2020-06-01 15:48] ronanarm commented on #30
Nevermind, I woke up in the morning and it worked. Very odd, I wouldn't call it fixed, but for now the issue seems to have disappeared.

[2020-06-01 15:48] #30 closed

[2020-06-02 16:05] doubleyoustew commented on #10
I'm using alc-layout 3 now and it seems to work better. I didn't have audio problems for about four days. Also alc-delay might help too.

[2020-06-02 21:26] carlosxfigueroa commented on #9
will this fix also work for disabling my 2070 max-q on my mid 2019 razer blade?

[2020-06-03 03:37] carlosxfigueroa commented on #26
have you been able to figure this out?

[2020-06-03 15:11] carlosxfigueroa opened #31 "Cant boot into mac os unless i do boot override"
if i select my ssd, it will show the logo and go back into the bios, cant seem to boot off m.2

[2020-06-04 17:19] ronanarm commented on #10
@doubleyoustew Tried alcid=3 and alcdelay=3000, I'm still getting the issue, just keeping this thread updated.

edit: headphone jack seems to work all the time, just the speakers seem to have issues.

[2020-06-05 20:00] doubleyoustew commented on #9
You can try. First without the RTEC stuff and if that doesn't work you can add that one too. No guarantee though, I don't have that model.

[2020-06-05 20:07] doubleyoustew commented on #10
Yeah unfortunately it's not completely fixed, although I feel like with alc layout 3 it's much more rare and if it happens shutting down and stating back up fixed it for me, even on battery which wasn't the case before. Only had the problem once since switching. There are other layouts that you could try in the AppleALC repo. I don't have the time to go though all of them at the moment and it's a

[2020-06-15 04:27] cabasse commented on #31
which blade version do you have? I have a mid 2019 (versus an early 2019 as the author's) and had to remove these kexts:

    EFI/CLOVER/ACPI/patched/DSDT.aml
    EFI/CLOVER/ACPI/patched/SSDT-12-OptTabl.aml
    EFI/CLOVER/ACPI/patched/SSDT-USBX.aml

as well as

CPUFriendDataProvider.kext

before it would boot directly.

[2020-06-16 15:05] carlosxfigueroa opened #32 "How to get thunderbolt working? mid 2019 model"
any direction you can point me to get started

[2020-06-17 02:14] carlosxfigueroa commented on #31
im on opencore now, and figured this out so ill close the issue in a bit, by chance do you have thunderbolt working or usb c to hdmi?

[2020-06-17 16:28] k-sym commented on #31
USB-C to HDMI worked fine on my Blade (I don't have it anymore) after I rebuilt the USB map outlined in the ReadMe.

https://github.com/stonevil/Razer_Blade_Advanced_early_2019_Hackintosh#usb-mapping

[2020-06-25 13:50] cabasse commented on #26
which cable did you use? do you know if it was using displayport alternate mode? i have a mid 2019 and managed to get a non dp-alternate mode cable to work (even got 4k 60hz over it for the first 6hrs before it went to a green screen! now i'm stuck at 30hz refresh) i'm going to try a dp-alternate cable, like this one: https://www.amazon.com/gp/product/B01EXKDRAC/ref=ox_sc_act_title_3?smid=A3HIHADV

[2020-06-25 14:42] k-sym commented on #26
I used this without issues. Very stable.

https://www.amazon.co.uk/gp/product/B07RM2CHRN

[2020-06-26 10:32] DocSystem commented on #26
Do use Base Model?

[2020-06-26 14:49] cabasse commented on #26
@ksymmonds what res/refresh rate are you getting through it? i i've got this particular one: https://www.amazon.com/gp/product/B07CL2RHX5/ref=ppx_yo_dt_b_asin_title_o00_s02?ie=UTF8&psc=1 - i managed to get 4k 60hz once, but then it stopped working (just showed a glitchy green screen) so i had to force 4k 30hz with cscreen

[2020-06-30 18:24] #31 closed

[2020-07-21 09:13] 4rtz1z commented on #28
Sorry to open up this again, do you guys found a way so the unlocked menu showed up again ? i'm using RBP17 2019, after i add second ssd drive, yes the problem just like you guys it disappear.
have you guys tried reinstalling clean bios from razer support and reunlocking ? i wanna try to but my RZ09-0314xx didn't have any bios on Razer Support.

[2020-07-29 14:35] zarif98 opened #33 "Can I add another BIOS to the BIOS list for an early RTX 2060 8750H razer blade?"
I am on System Bios 1.05, EC FW 1.03 and MCU FW 1.00.20.00

[2020-08-13 05:48] soniXx123 commented on #29
@apocolipse did you get it running? i have as well an 2020 and I need to flash the bios :(

[2020-09-11 15:31] doubleyoustew commented on #26
Base model has the USB-C connected to the nvidia card, you will not be able to use that one. You can get one of those usb displaylink things though.

@cabasse that's likely a bug when using an external display with 4k@60 or 1440p@144hz, so basically anything that requires at least DP1.2 and whatever the HDMI equivalent is. The current workaround is putting the laptop to sleep and waking it back up

[2020-09-26 02:32] boyuanx opened #34 "240Hz Refresh Rate"
Has anyone managed to get 240Hz refresh working? No matter what I do, I'm stuck at 60Hz.

[2020-10-03 13:45] TiToMoskito opened #35 "BIOS Entries hidden since SSD replaced"
I unlocked successfully the bios and after that i replaced the nvme with an compatible one, now the "unlocked" bios has all entries hidden again.
Im using an CH341A Flasher to update the bios, i also tried to flash the original bios and reflash with the unlocked, but without success.

It's an Razer Blade 2020 Base Model

[2020-10-04 11:11] #35 closed

[2020-10-11 02:40] ManjunathaN commented on #29
I'm also facing the same issue. Any help would be appreciated.

[2020-11-02 07:46] boyuanx commented on #26
Could any of you guys share your EFI? I have a Mid-2019 RBA and no USB-C to HDMI has ever worked. It shows up as a USB 2.0 BILLBOARD device in IOReg with some VESA information but that's about it.

[2020-11-02 08:22] doanhxd commented on #26
@boyuanx  have you tried SMBIOS MacBookPro15,2 yet?

[2020-11-02 18:08] boyuanx commented on #26
Unfortunately, besides slowing down boot time it has not made any difference.

[2021-06-30 05:03] J-Daniel opened #36 "Unable to edit the bios rom file in Razer Blade 15 2020 advanced model."
Hello, thank you very much for providing such a detailed guide for razer blade hackintosh. I opened the extracted BIOS file with AMIBCP according to your guidance, but it appeared the error shown in the following figure, so that there is no "Setup Configuration" tab in AMIBCP.
![image](https://user-images.githubusercontent.com/55864517/123903497-62792280-d9a1-11eb-92b3-e6d60bc6b8a2.png)
The BIOS v

[2021-07-01 12:23] ivproduced commented on #36
I have the same issue, using 2021 advanced model

[2021-07-03 01:16] JialeDeng commented on #36
Problem solved. Use AMIBCP v5.02.02.0031 in [this link](https://github.com/Mother-FKR/RazerBlade15-Base-Model-Hackintosh_macOS_Monterey/tree/master/Tools)

[2021-09-24 14:02] Magician10000 opened #37 "Questions about BIOS Edits: do I check these or not"
@stonevil - In the BIOS section of your guide you mention to check these options under CPU Power Management Control:

CPU - Power Management Control (second row from top) !
Intel(R) SpeedStep(tm)
Intel(R) Speed Shift Technology
C states
Package C State Limit
CPU Lock Configuration (scroll way down) !

But in the pics, you also have IO MWait Redirection and Timed Mwait checked, despite not being wr